.jumbotron { font-family: cursive; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.body { background-color:Grey;}

.carousel-control-next {
  background-color: black;
}

.carousel-control-prev {
  background-color: black;
}