.jumbotron { font-family: fantasy; background-color: Blue}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.body { background-color:white;}

.carousel-control-next {
  background-color: blue;
}

.carousel-control-prev {
  background-color: blue;
}

.aboutme { font-size: x-large;}

.sportimg { height: 300px;

}